html, 
body {
    background-color: slategrey;
    height: 100%;
}

.map {
    height: 800px;
    width: 100%;
}

.marker {
    width: 55px;
    height: 55px;
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
}