.map {
      height: 400px;
      width: 100%;
    }

.marker {
        width: 35px;
        height: 35px;
        border-radius: 15px;
        background-size: 20px;
        background-repeat: no-repeat;
        background-position: center;
      }