html, 
body {
    background-color: papayawhip;
    height: 100%;
}

h1,
h2 {
    font-family: cursive;
    text-align: center;
}

h3 {
    font-style: italic;
    text-align: center;
}

footer {
    background-color: black;
    color: white;
    width: 100%;
}

.spi {
    font-size: 130%;
    font-family: fantasy;
}

.map {
    height: 800px;
    width: 100%;
    background-color: lightslategray;
}

.marker {
    width: 33px;
    height: 33px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.ol-popup {
    position: absolute;
    background-color: yellow;
    -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
    filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    bottom: 12px;
    left: -50px;
    min-width: 280px;
}

.ol-popup:after, .ol-popup:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
      
.ol-popup:after {
    border-top-color: white;
    border-width: 10px;
    left: 48px;
    margin-left: -10px;
}
      
.ol-popup:before {
    border-top-color: #cccccc;
    border-width: 11px;
    left: 48px;
    margin-left: -11px;
}
      
.ol-popup-closer {
    text-decoration: none;
    position: absolute;
    top: 2px;
    right: 8px;
}
      
.ol-popup-closer:after {
    content: "✖";
}

.hidden {
    display: none;
    opacity: 0;
}

#bundesliga {
    background-color: red;
    color: gold;
    border-color: black;
}

#ligue1 {
    background-color: white;
    color: red;
    border-color: blue;
}

#laliga {
    background-color: yellow;
    color: red;
    border-color: red;
}

#seriea {
    background-color: white;
    color: red;
    border-color: green;
}

#premierleague {
    background-color: blue;
    color: white;
    border-color: red;
}

#top50 {
    background-color: black;
    color: white;
}

#rankingMap {
    height: 40px;
    width: 380px;
    background-color: lightslategray;
}

#transferMap {
    height: 40px;
    width: 380px;    
    background-color: lightslategray;
}

#investorMap {
    height: 40px;
    width: 380px;
    background-color: lightslategray;
}